header{
    background-color:rgb(195, 166, 243);
    color:rgb(192, 153, 236);
    padding:10px 0;
}
nav ul{
    list-style:none;
    display:flex;
    justify-content: center;
}
nav a{
  text-decoration:none;
  color: #fff;

}
nav li{
    margin:0 20px;
}

body{
    font-family:Arial, sans-sarif;
    margin: 0;
    padding: 0;
}

img {
max-width: 100%;
}
.profile-img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;

}
#contact{
    text-align: center;
    color:#f3f2f6;
    background-color: #b496e6;
    margin-bottom: 30px;
}
.icon{
    margin-top:0px;
    padding-left:5px;
}
.icon:hover{
    background-color:black;
}
footer {
text-align: center;
padding: 10px;
background-color: #b496e6;
color: #fff;
}

